.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
.vs/ProjectSettings.json
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/2018-FIRST-POWER-UP-Game/v15/.suo
